node_modules
.umi
.umi-production
*.png
*.jpg
*.svg
*.less
.editorconfig
.env
.prettierignore
.gitkeep
.DS_Store
.npmrc
.eslintignore
.gitignore
dist
lib
es
pnpm-lock.yaml
cache.json
coverage
*.test.ts.snap